/* Stile per l'intestazione con !important */
header {
    background-color: #333 !important; /* Colore di sfondo scuro */
    color: #fff !important;
    text-align: center !important;
    padding: 20px !important;
    border-radius: 10px !important;
}

/* Stile per il titolo con !important */
h1 {
    font-size: 48px !important;
    margin-bottom: 20px !important;
    text-transform: uppercase !important;
    animation: fadeInDown 2s ease !important;
}

/* Stile per le sezioni con !important */
.content {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #111 ; 
    padding: 20px 0 ; 
}

.section {
    flex: 0 0 calc(33.33% - 20px) !important; /* Tre sezioni per riga con margine tra loro */
    margin: 0 10px 20px 10px !important;
    padding: 20px !important;
    border-radius: 10px !important;
    background-color: #222 !important; /* Colore di sfondo ancora più scuro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important; /* Ombra più evidente */
    text-align: left !important;
    animation: fadeInUp 2s ease !important;
    box-sizing: border-box !important;
}

/* Stile per il titolo delle sezioni */
.section h2 {
    font-size: 28px !important;
    margin-bottom: 10px !important;
    color: #fff !important; /* Testo bianco */
}

/* Stile per il testo delle sezioni */
.section p {
    font-size: 18px !important;
    line-height: 1.5 !important;
    color: #ccc !important; 
}

/* Animazione per il titolo */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animazione per le sezioni */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*--------------------------------------------------------------------------------------------*/

/* Stile per il carosello */

.sale-products-carousel {
    display: flex;
    overflow: hidden;
    justify-content: center; /* Centro gli elementi del carosello */
    position: relative; /* Posizione relativa per l'animazione di scorrimento */
}

.cardcarousel {
    flex: 0 0 calc(33.33% - 20px);
    margin: 0 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0; /* Inizialmente invisibile */
    transition: opacity 0.5s ease-in-out; /* Animazione di opacità */
}

.cardcarousel img {
    max-width: 100%;
    height: auto;
}

.cardcarousel h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.cardcarousel p {
    font-size: 16px;
    color: #777;
}







/*--------------------------------------------------------------------------------------------*/

/* Stile per il footer */
footer {
    background-color: #333 !important; /* Colore di sfondo scuro per il footer */
    color: #fff !important;
    text-align: center !important;
    padding: 20px 0 !important;
    border-radius: 10px !important;
}

/* Stile per il footer-content */
.footer-content {
    display: flex !important;
    justify-content: space-around !important;
    flex-wrap: wrap !important;
    margin: 20px 0 !important;
}

/* Stile per le sezioni nel footer */
.footer-section {
    flex: 0 0 calc(33.33% - 20px) !important;
    text-align: left !important;
    margin: 0 10px !important;
}

.footer-section h3 {
    font-size: 24px !important;
    margin-bottom: 10px !important;
}

/* Stile per ul nel footer */
.footer-section ul {
    list-style: none !important;
    padding: 0 !important;
}

.footer-section ul li {
    margin: 5px 0 !important;
}

.footer-section ul li a {
    text-decoration: none !important;
    color: #fff !important;
    font-weight: bold !important;
}

/* Stile per il copyright */
.copyright {
    font-size: 14px !important;
}
